@model IEnumerable<WMS.Controllers.RosterDetailAttributes>
@{
    ViewBag.Title = "RosterDetail";
}

<h2>RosterDetail</h2>

@{
    ViewBag.Title = "Index";
}

<table class="table">
    <tr>
        <th>
            Code
        </th>
        <th>
             Code
        </th>
        <th>
            Code
        </th>
        <th>
             Code
        </th>
        <th>
            Code
        </th>
    </tr>

@foreach (var item in Model) {
    if(item.Changed==true)
        {
             <tr>
                  <td  style="background-color:#7ac143">
                    @Html.DisplayFor(modelItem => item.Day)
                </td>
                 <td>
                    @Html.DisplayFor(modelItem => item.DutyDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DutyCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DutyTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WorkMin)
                </td>
                <td>
                </td>
            </tr>
        }
        else
        {
            <tr>
                 <td>
                    @Html.DisplayFor(modelItem => item.Day)
                </td>
                 <td>
                    @Html.DisplayFor(modelItem => item.DutyDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DutyCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DutyTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WorkMin)
                </td>
                <td>
                </td>
            </tr>
        }
   
}

</table>
